<br>
<div class="container">
  <% if user_signed_in? %>
    <h1><%= t('titles.edit_genre', title: @genre.title) %></h1>
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <%= form_with(model: @genre, url: genre_path) do |form| %>

      <p>
        <%= form.label t('forms.labels.genre_title') %><br>
        <%= form.text_field :title %>
      </p>

      <%= form.hidden_field :id, value: @genre.id %>
      <p>
        <%= form.submit t('forms.submit.edit_genre') %>
      </p>
    <% end %>
  <% else %>
    <h1><%= t('titles.sign_in') %></h1>
  <% end %>
</div>
