<div class="container mt-5">
  <h1 class="text-center"><%= t('titles.my_profile') %></h1>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header text-center">
          <h2><%= @user.name %></h2>
        </div>
        <div class="card-body">
          <p><strong><%= t('labels.email') %>:</strong> <%= @user.email %></p>
          <p><strong><%= t('labels.city') %>:</strong> <%= @user.city %></p>
          <p><strong><%= t('labels.phone_number') %>:</strong> <%= @user.phone_number %></p>
          <p><strong><%= t('labels.age') %>:</strong> <%= @user.age %></p>
          <%= link_to t('buttons.edit_profile'), edit_user_registration_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <h2 class="text-center"><%= t('titles.my_books') %></h2>
      <% if @books.present? %>
        <% @books.each do |book| %>
          <div class="row p-3 border-bottom border-dark border-2" style="--bs-border-opacity: .6;">
            <div class="col col-lg-2">
              <%= image_tag 'placeholder.png', style: "width:100px;height:100px;" %>
            </div>
            <div class="col text-left">
              <div class="row">
                <h3><%= link_to book.title, book %></h3>
              </div>
              <div class="row">
                <p class="card-text description"><%= book.descr %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <p class="text-center"><%= t('messages.no_books') %></p>
      <% end %>
    </div>
  </div>
</div>
