<div class="container mt-5">
  <% provide(:page_class, 'users-background') %>
  <h1 class="text-center"><%= t('titles.all_users') %></h1>
  <div class="text-center mb-4">
    <%= link_to t('links.back'), home_path, class: "btn btn-secondary" %>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
      <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th><%= t('labels.name') %> <%= link_to "↑↓", users_path(sort_by: (@sort_by == "name_asc" ? "name_desc" : "name_asc"), name: @name, age: @age, count: @books_count), class: "fa fa-sort" %>
          <%= form_tag users_path, method: :get, class: "d-inline-block" do %>
            <%= text_field_tag :name, @name, placeholder: t('placeholders.search_by_name'), class: "form-control d-inline-block" %>
            <% if @name.present? %>
              <%= link_to "×", users_path, class: "btn btn-sm btn-danger ml-1" %>
            <% end %>
            <%= submit_tag t('buttons.search'), class: "btn btn-sm btn-primary ml-1" %>
          <% end %>
        </th>
        <th><%= t('labels.age') %> <%= link_to "↑↓", users_path(sort_by: (@sort_by == "age_asc" ? "age_desc" : "age_asc"), name: @name, age: @age, count: @books_count), class: "fa fa-sort" %>
          <%= form_tag users_path, method: :get, class: "d-inline-block" do %>
            <%= text_field_tag :age, @age, placeholder: t('placeholders.search_by_age'), class: "form-control d-inline-block" %>
            <% if @age.present? %>
              <%= link_to "×", users_path, class: "btn btn-sm btn-danger ml-1" %>
            <% end %>
            <%= submit_tag t('buttons.search'), class: "btn btn-sm btn-primary ml-1" %>
          <% end %>
        </th>
        <th><%= t('labels.books_count') %> <%= link_to "↑↓", users_path(sort_by: (@sort_by == "books_asc" ? "books_desc" : "books_asc"), name: @name, age: @age, count: @books_count), class: "fa fa-sort" %>
          <%= form_tag users_path, method: :get, class: "d-inline-block" do %>
            <%= text_field_tag :count, @books_count, placeholder: t('placeholders.search_by_count'), class: "form-control d-inline-block" %>
            <% if @books_count.present? %>
              <%= link_to "×", users_path, class: "btn btn-sm btn-danger ml-1" %>
            <% end %>
            <%= submit_tag t('buttons.search'), class: "btn btn-sm btn-primary ml-1" %>
          <% end %>
        </th>
        <th><%= t('labels.link') %></th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user[:id] %></td>
          <td><%= user[:name] %></td>
          <td><%= user[:age] %></td>
          <td><%= user[:books_count] %></td>
          <td><%= link_to t('links.link'), user_path(user), class: "btn btn-info btn-sm" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
