<%= stylesheet_link_tag "dropdown" %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(function(){
        $("#book_author_ids").select2({
            maximumSelectionLength: 1 // Ограничение выбора до одного автора
        });
    });
</script>

<br>
<div class="container">
  <% if user_signed_in? %>
    <h1 class="text-center"><%= t('titles.create_new_advertisement') %></h1>

    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= form_with(model: @book, url: books_path) do |form| %>
      <div class="field">
        <%= form.label t('forms.labels.advertisement_title') %><br>
        <%= form.text_field :title, class: 'form-control', id: "book_title", maxlength: 100 %>
        <p id="title_char_count" class="text-muted">0/100 <%= t('characters') %></p>
      </div>

      <div class="field">
        <%= form.label t('forms.labels.advertisement_description') %><br>
        <%= form.text_area :descr, id: "book_descr", class: 'form-control', maxlength: 1000 %>
        <p id="descr_char_count" class="text-muted">0/1000 <%= t('characters') %></p>
      </div>

      <div class="field">
        <%= form.label :genre_id, t('labels.genre') %>
        <%= form.collection_select :genre_id, @genres, :id, :title, {}, { class: 'form-control' } %>
      </div>

      <%= form.hidden_field :user_id, value: current_user.id %>

      <div class="actions mt-3">
        <%= form.submit t('buttons.create_advertisement'), class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>
</div>
