<h1><%= t('titles.new_review') %></h1>

<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<%= form_with(model: @review, url: reviews_path) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :descr %>
    <%= form.text_area :descr %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
